.btn-sample:active {
  background-color:rgb();
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	margin-bottom: 30px;
}

nav button.navbar-toggle {

}

.button{
	height:135px;
	width:135px;
}

h1{
	color: blue;
	background-color:lightgrey;
	border: lightgrey;
	font-size: 30px;
}

html{

	height:100%;
}


.bg-picture{
	background-image: url(../../assets/dallas_skyscrapers_buildings_night_59125_2560x1080.jpg);
	height:680px;
	width:1537px;
	background-color: white;
	background-attachment: fixed;
	background position: center center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:40px;
	opacity:0.700;
}

.dashed{
	border-style: dashed;
	padding: 10px ;
	display:inline-block;

}

