<div class="bg-picture">
<div class="container-fluid">
	<!-- Add Button
	Change Hover color
	Add spacing between cards and navbar
	And fix uto layout issue -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Unorthodox Mapping</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			<div id="intro" class="view">
  <div class="mask">
  </div>
</div>
		</button>
	</nav>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm" *ngFor="let object of preferences">
			<button type="button" class="btn btn-success btn-lg active">{{object}}</button>
			<div class="button" style="width: 40rem;">
				<div class="button-body">
				</div>
			</div>
		</div>
`	</div>
	<div class="row">
		<button type="button" class="btn btn-primary active" routerLink = "/results">Submit</button>
	</div>
	</div>
	<div class="container">
	</div>
		</div>
		<div class="container-fluid">
		<div class="row">
</div> 
